<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">Brother HL-2170W</name>
<service>
	<type>_ipp._tcp</type>
	<subtype>_universal._sub._ipp._tcp</subtype>
	<host-name>cups.home</host-name>
	<port>631</port>
	<txt-record>txtvers=1</txt-record>
	<txt-record>qtotal=1</txt-record>
	<txt-record>TLS=1.2</txt-record>
	<txt-record>product=(Brother,DCP-1200)</txt-record>
	<txt-record>note=Wohnzimmer</txt-record>
	<txt-record>ty=Brother HL-2170W</txt-record>
	<txt-record>rp=printers/Brother_HL-2170W_series</txt-record>
	<txt-record>pdl=application/pdf,application/postscript,image/jpeg,image/pwg-raster,image/urf</txt-record>
	<txt-record>Color=F</txt-record>
	<txt-record>Duplex=F</txt-record>
	<txt-record>TLS=1.2</txt-record>
	<txt-record>URF=V1.4,CP1,RS600,W8</txt-record>
</service>
</service-group>
